.eventContainer{
    /* background: #34D031;    */
    /* background: #85BC2D; */
    /* background: #070800; */
    background: black;
    height: 20rem;
    margin-bottom: 2rem;
    border-top: 5px #85BC2D solid;
    border-bottom: 5px #85BC2D solid;
}

.shotsContainer h3{
    font-size: 1.4em;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
    /* color: var(--color-primary-variant); */
    /* color: var(--color-white); */
    color: #85BC2D;
}

.eventSnaps{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.snaps img{
    /* width: 100%; */
    width: 95%;
    height: 12rem;
    border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .eventSnaps{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .eventSnaps{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 414px) {
    .snaps img{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .eventSnaps{
        grid-template-columns: repeat(1, 1fr);
    }
}