.aboutContainer{
    /* background: url('../../assets/event_3.jpg') no-repeat center center/cover; */
    background: var(--color-primary-variant2);
    padding: 5rem;
    
}

.abtContainer{
    color: var(--color-white);
}

.abtContainer h3{
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

.evt h4{
    font-size: 1em;
    margin-bottom: 0.8rem;
    /* color: var(--color-primary-variant); */
    /* color: var(--color-white); */
    color: white;
    text-align: center;
} 

.evt_container{
    display: flex;
    gap: 3rem;
    align-items: center;
}

/* .evt img{
    width: 40%;
    border-radius: 0.3rem;
} */

.evt_container p{
    font-size: 0.8em;
    /* width: 80%; */
    width: 100%;
    color: white;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .aboutContainer{
       margin-top: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .aboutContainer{
       margin-top: 20rem;
    }
}

@media screen and (max-width: 400px) {
    .aboutContainer{
        margin-top: 37rem;
    }
}