.contactMainContainer{
    background: rgb(73, 72, 72);
    border-top: 5px #85BC2D solid;
    padding-top: 3rem;
    margin-top: 5rem;
}

.container.contactContainer{
    /* margin-top: 4rem; */
    width: 50%;
}

.contactContainer h3{
    font-size: 1.4em;
    text-align: center;
    font-weight: 600;
    padding-bottom: 2rem;
    /* color: var(--color-white); */
    color: #85BC2D;
}

.contactLinks{
    display: flex;
    justify-content: space-between;
    /* gap: 5rem; */
    padding-bottom: 5rem;
    width: 80%;
}

.contactLinks a{
    /* color: #85BC2D; */
    color: var(--color-white);
    font-size: 1em;
}

.contactLinks .link_1{
    color: aliceblue;
    font-size: 1.5em;
}

.contactContainer p{
    color: #85BC2D;
    text-align: center;
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {
    .contactLinks{
        flex-direction: column;
        gap: 3rem;
        text-align: center;
    }
}