.mainHeader{
    /* background: radial-gradient(circle,rgb(5, 119, 30) 0%, rgb(17, 0, 8) 100%); */
    }

.headerContainer{
    color: var(--color-white);
    padding-top: 3rem;
    padding-left: 1rem;
}

span{
    color: var(--color-primary-variant);
}