.mainHeader{
    /* background: radial-gradient(circle,rgb(5, 119, 30) 0%, rgb(17, 0, 8) 100%); */
    background: url('../../assets/event_3.jpg')  no-repeat center center/cover;
    /* background-position: center; */
    padding: 0 0 3rem 0;
}

.headerContainer{
    color: var(--color-white);
    padding-top: 5rem;
    margin-bottom: 5rem;
    /* padding-bottom: 1rem; */
    /* padding-left: 1rem; */
    text-align: center;
}
.optimizeContainer{
    font-size: 1.5em;
    color: #121402;
    /* color: white; */
}

.optimizeContainer span{
    /* color: #121402; */
    color: #b9eb04;

}

.headerContainer small{
    /* color: var(--color-primary-variant); */
    color: white;
    font-size: 0.8em;
    /* padding-left: 1.3%; */
}
span{
    /* color: var(--color-primary-variant); */
}

