.gallery{
    margin-top: 3rem;
    background: var(--color-bg-variant);
    height: 20rem;
    /* opacity: 0.2; */
}

.galleryContainer h3{
    font-size: 1em;
    color: var(--color-white);
    padding-top: 2rem;
}

.vidsContainer{
     display: grid;     
     grid-template-columns: repeat(5, 1fr);
     gap: 1rem;
     
}

.vidContainer{
    position: relative;
    /* border: 1px var(--color-primary-variant) solid; */
    width: 100%; 
}

video{
    width: 21rem;
    height: 12rem;
    border: 1px var(--color-primary-variant2) solid;
    border-radius: 0.4rem;
}

.vidOverlay{
color: var(--color-primary-variant2);
font-size: 2rem;
position: absolute;
top: 0;
bottom: 0;
width: 100%;
padding: 5rem 10rem 5rem 10rem;
}
